@model ArticleModel

<section class="main-page-container">
    <h1>
        Main Page
    </h1>
    <hr />
    @if (Model.TotalPages > 1)
    {
        <div class="main-header-pagination">
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("MainPage", new { page = Model.CurrentPage - 1 })">Previous</a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="@Url.Action("MainPage", new { page = Model.CurrentPage + 1 })">Next</a>
            }
        </div>
    }
    <span class="main-current-page-header">
        @Model.CurrentPage
    </span>
    <div class="articles-container">
        @foreach (var article in Model.Articles)
        {
            <article class="article-container">
                <h3>
                    @article.Title
                </h3>
                <hr class="article-header-line" />
                <div class="article-border-content">
                    <img src="@Url.Content(@"~/" + article.ImageUrl)" alt="article image" />
                    <h4>
                        Information about the flower:
                    </h4>
                    <hr class="article-content-line" />
                    <p>
                        @article.Content
                    </p>
                    <div class="article-form-content">
                        <form asp-action="Save" asp-controller="Article" asp-route-articleId="@article.Id" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button type="submit">SAVE</button>
                        </form>
                        <a asp-action="Details" asp-controller="Article" asp-route-articleId="@article.Id">DETAILS</a>
                    </div>
                </div>
            </article>
        }
    </div>
    @if (Model.TotalPages > 1)
    {
        <div class="main-header-pagination">
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("MainPage", new { page = Model.CurrentPage - 1 })">Previous</a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="@Url.Action("MainPage", new { page = Model.CurrentPage + 1 })">Next</a>
            }
        </div>
    }
    <span class="main-current-page-footer">
        @Model.CurrentPage
    </span>
</section>
