@model UserPageModel

<section class="user-page-container">
    <div class="user-info-container">
        <img/>
        <h1>@Model.Username</h1>
    </div>
    <div class="biography-container">
        <p>
            @Model.Biography
        <p/>
    </div>
    <div class="article-likes-container">
        <span>
            @Model.Followers
        </span>
        <span>
            @Model.Articles
        </span>
    </div>
    <div class="edit-create-data-container">
        <!--If the user is also the creator of this account, add edit button-->
        <span>
            @Model.DataOfCreation
        </span>
    </div>
</section>
